<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<style>
		.button {  
		  background-color: #008000;
		  border: none;
		  color: white;
		  padding: 20px 32px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 48px;
		  margin: 4px 2px;
		  cursor: pointer;
		}
		.header{
			font-size: 48px;
		}
	</style>
	
<title>Pi Interface</title>

</head>
<body>
	<h2 id="demo" class="header">TallyBot Report</h2>
	<h2 id="demo" class="header"> Run has ended</h2>
	
	<form method="POST">
		<div>
			<input type="submit" name="submit_button" class="button" value="Start New Run">
		</div>
	<div></div>
</body>
</html>
